<tml>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>dub.works</title>
		<link rel="shortcut icon" href="dub-works/public/images/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">	
	</head>
    
    
<body class="home">
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand js-scroll-trigger" href="/"><span class="color-secondary">dub</span>.works</a>
			</div>
			<div class="navbar-collapse collapse">
                        <nav>
			        <ul class="nav navbar-nav pull-right">
					<li><a href="/about">about</a></li>
					<li><a href="/hosts">hosts</a></li>
					<li><a href="/projects">creates</a></li>
					<li><a href="/events">hosts</a></li>
					<li><a href="/blog">blog</a></li>
				</ul>
                         </nav>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
		<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">DUB.WORKS</h1>
			</div>
		</div>
	</header>
	<!-- /Header -->
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<center><div class="row">
					
					<div class="col-md widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>dub.works<br>
                                				952.223.6565<br>
                               				        725 23rd St NW, Washington, DC 20052
						        	<br>Mezzanine Floor 
								<br><a href="mailto:#">contact@dub.works</a><br>
							</p>	
						</div>
					</div>
          
				</div></center>
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav"> 
								<a href="https://twitter.com/gwinnocenter?lang=en"><i class="fa fa-twitter fa-2"></i></a> |
                                                                <a href="https://www.facebook.com/gwinnovationcenter/"><i class="fa fa-facebook fa-2"></i></a> |
								<b><a href="/contact">Contact</a></b>
							</p>
						</div>
					</div>
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2018, <a href="/" rel="designer">dub.works</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		{{!--
			//- jQuery 1.11.1 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.1 (also bundled) for better performance.
		--}}
		<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.2.0.min.js
		--}}
		<script src="/js/lib/bootstrap/bootstrap-3.2.0.min.js"></script>
        <script src="/js/lib/invoke.js"></script>
		{{{isAdminEditorJS user}}}
        
	</body>
</html>


