extends ../../layouts/default
include ../../mixins/meetup

block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro-sm.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title events

block content
	.page-content
		.section#upcoming-events: .container
			h2.text-center Upcoming Events
			
			if upcomingMeetup
				each meetup, i in upcomingMeetup
					+meetup(meetup)
					br
			else
				p.text-center No upcoming events planned...

		.section#past-events: .container
			h2.text-center.pb-1 Past Events
			
			.timeline
				.timeline-path
				.timeline-item--offset
				each meetup, i in pastMeetups
					.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
						.timeline-item-node
						a(href=meetup.url).timeline-item-inner
							h6.text-caps.text-danger= meetup._.startDate.format('MMMM - DD - YYYY')
							h4= meetup.name
							!=utils.cropString( utils.htmlToText(meetup.description), 240, '...', true )
							//- !=utils.htmlToText(meetup.description)
							
			if !upcomingMeetup && !pastMeetups.length
				h3.text-muted There are no events yet...

		//- .section#calendar: .container
		//- 	iframe(src='https://calendar.google.com/calendar/embed?src=80a3tuu1pqtsg4ge3ovch5mbvg%40group.calendar.google.com&ctz=America%2FNew_York', style='border: 0', width='800', height='600', frameborder='0', scrolling='no')
		
block js
	script(src='/js/lib/bootstrap/carousel.js')
	
//-
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
