extends ../../layouts/default
include ../../mixins/meetup

block intro
	.container
		#carousel-example-generic.carousel(style='margin-top:-72px; height:40vh;').slide(data-ride='carousel')
			ol.carousel-indicators
				li.active(data-target='#carousel-example-generic', data-slide-to='0')
				li(data-target='#carousel-example-generic', data-slide-to='1')
				li(data-target='#carousel-example-generic', data-slide-to='2')
				li(data-target='#carousel-example-generic', data-slide-to='3')
			.carousel-inner(role='listbox', style='height:40vh')
				.item.active
					img(src='/images/placeholders/sydney-1.jpg', style='height:100%')
				.item
					img(src='/images/placeholders/sydney-2.jpg', style='height:100%')
				.item
					img(src='/images/placeholders/sydney-4.jpg', style='height:100%')
				.item
					img(src='/images/placeholders/sydney-3.jpg', style='height:100%')

block content
	.page-content
		.section#upcoming-events: .container
			h2.text-center Our Next Event
			
			if upcomingMeetup
				+meetup(upcomingMeetup)
			else
				p.text-center No upcoming events planned...


		.section#past-events: .container
			h2.text-center.pb-1 Past Events
			
			.timeline
				.timeline-path
				.timeline-item--offset
				each meetup, i in pastMeetups
					.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
						.timeline-item-node
						a(href=meetup.url).timeline-item-inner
							h6.text-caps.text-danger= meetup._.startDate.format('MMMM - DD - YYYY')
							h4= meetup.name
							!=utils.cropString( utils.htmlToText(meetup.description), 240, '...', true )
							//- !=utils.htmlToText(meetup.description)
							
			if !upcomingMeetup && !pastMeetups.length
				h3.text-muted There are no events yet...

		.section#calendar: .container
			iframe(src='https://calendar.google.com/calendar/embed?src=80a3tuu1pqtsg4ge3ovch5mbvg%40group.calendar.google.com&ctz=America%2FNew_York', style='border: 0', width='800', height='600', frameborder='0', scrolling='no')
			

block js
	script(src='/js/lib/bootstrap/carousel.js')
	
//-
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
