extends ../../layouts/default

block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title Funding

block content
	.page-content
		.section#request-funding: .container
			.row
				.col-sm-4.col-sm-offset-2
					a(href='//docs.google.com/forms/d/e/1FAIpQLSeJU3Wzd5XafueenjPmuC54dRmb8VK7e8z9_1Dx0lp09PXF6g/viewform?ts=5a79f+087', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Apply for Funding
				.col-sm-4
					a(href='/funds#timeline', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Learn More

		.section#timeline: .container
			h2.text-center.pb-2 The Funding Stages

			.timeline
				.timeline-path
				.timeline-item--offset
				// Apply
				.timeline-item.timeline-item--odd
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger Now
						h4 Apply for Funding
						!=utils.cropString("mentor intros, expert advice, workshops, and startup support from the GW Innovation Center", 240, '...', true )
				// Stage I
				.timeline-item.timeline-item--even
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger 12 weeks
						h4 Stage I
						!=utils.cropString("$100-300 prototype and team development", 240, '...', true )
				// Stage II
				.timeline-item.timeline-item--odd
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger 12 weeks
						h4 Stage II
						!=utils.cropString("$300-500 validation - customer, innovation, impact, market discovery", 240, '...', true )
				// Stage III
				.timeline-item.timeline-item--even
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger Up to a year
						h4 Stage III
						!=utils.cropString("$1,000 rapid prototyping & redesign", 240, '...', true )
				// Stage IV
				.timeline-item.timeline-item--odd
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger To infinity and beyond
						h4 Stage IV
						!=utils.cropString("variable follow up investment from the fund and/or investor intros", 240, '...', true )

//-
	.page-content: .container
		if enquirySubmitted
			.jumbotron.text-center
				h1 Success!
		else
			.row
				.col-md-8
					form(method='post').form-horizontal
						input(type='hidden', name='action', value='fundRequest')
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label.col-sm-2.text-left.control-label Name
							.col-sm-10
								input(type='text' name='name.full' value=formData['name.full'] required placeholder="First Last").form-control
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label.col-sm-2.control-label Email
							.col-sm-10
								input(type='email' name='email' value=formData.email required placeholder="name@domain.com").form-control
						.form-group
							label.col-sm-2.control-label Phone
							.col-sm-10
								input(type='text' name='phone' value=formData.phone placeholder='(optional)').form-control
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Website/App/Blog/Youtube
							.col-sm-10
								input(type='text' name='website' value=formData.website placeholder='(optional)').form-control
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Concept & Product Description
							.col-sm-10
								textarea(name='message' placeholder='200-word maximum' rows=4 required).form-control= formData.concept
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Target Market & Why Customers Would Buy
							.col-sm-10
								textarea(name='message' placeholder='Leave us a message...' rows=4).form-control= formData.customers
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Financials
							.col-sm-10
								textarea(name='message' placeholder='Cost structure, funds use, revenue' rows=4 required).form-control= formData.financials
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Social Impact Statement
							.col-sm-10
								textarea(name='message' placeholder='If applicable' rows=2).form-control= formData.impact
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Sustainability Statement
							.col-sm-10
								textarea(name='message' placeholder='If applicable' rows=2).form-control= formData.sustainability
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label Needs beyond funding
							.col-sm-10
								textarea(name='message' placeholder='Resources, legal advice, mentorships, etc.' rows=2).form-control= formData.needs

						.form-group
							.col-sm-10.col-sm-offset-2
								p.help-block Note: others can see your enquiry in the <a href='/keystone/enquiries'>Admin UI</a>
								button(type='submit').btn.btn-primary Submit
